{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{% static 'project/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="menu">
            <a class="logo">
                <img src="{% static 'project/images/logo.png' %}" height="45" alt="logo">
            </a>
            <ul class="menu-title">
                <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link" href="{% url 'destination' %}">Destination</a></li>
                <li><a class="nav-link" href="{% url 'package' %}">Package</a></li>
                <li><a class="nav-link" href="{% url 'bookmytrip' %}">Book My Trip</a></li>
                <li><a class="nav-link" href="{% url 'contactus' %}">Contactus</a></li>
                <li><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <button class="admin-login">
                    <a class="nav-link" href="{% url 'travel_admin:admin_login' %}">
                        <i class="fas fa-user-shield"></i> Admin Login
                    </a>
                </button>
            </ul>
        </div>
        <header>
            <div class="slide">
                <img src="{% static 'project/images/forgotpassword.jpg' %}">
            </div>
                <div class="col-md-8">
                    <div class="heading">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page"> Forgot Password</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Django Messages -->
                     {% if messages %}
                     {% for message in messages %}
                     <div class="alert alert-warning alert-dismissible fade show">
                        {{ message }}
                        <button class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="xyz@gmail.com" required>
                            <br>
                            <small id="passwordHelp" class="form-text"> Enter your registered email address. An OTP will be sent to your email to verify your identity and reset your password.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Get New Password
                        </button>
                        <button type="reset" class="btn btn-warning">
                            Reset
                        </button>
                    </form>
                </div>
            </header>    
        </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="footer-section">
	<div class="form-row">
	<h6>ADDRESS</h6>
	</div>
	<div class="form-row">
	Tours and Travels,
	</div>
	<div class="form-row">
	Berna Road,Viratnagar,
	</div>
	<div class="form-row">
	Himmatnagar, Gujarat.
	
	</div>
	
    </div>
	<div class="footer-section">
	<div class="form-row">
	<h6>CONTACT US</h6>
	</div>
	<div class="form-row">
	mob: +91-6355791246
	</div>
	<div class="form-row">
	email: travelproject241@gmail.com
	</div>
    </div>
	<div class="footer-section">
	<div class="form-row">
	<h6>DETAILS</h6>
	</div>
	<div class="form-row">
	Travel booking company.
	</div>
	<div class="form-row">
	Many satisfied customers.
	
	</div>
	
      </div>
</div>

</footer>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>