{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'project/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <a class="logo">
                <img src="{% static 'project/images/logo.png' %}" height="45" alt="logo">
            </a>
            <ul class="menu-title">
                <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link" href="{% url 'destination' %}">Destination</a></li>
                <li><a class="nav-link" href="{% url 'package' %}">Package</a></li>
                <li><a class="nav-link" href="{% url 'bookmytrip' %}">Book My Trip</a></li>
                <li><a class="nav-link" href="{% url 'contactus' %}">Contactus</a></li>
                <li><a class="nav-link">Signup</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <button class="admin-login">
                    <a class="nav-link" href="{% url 'travel_admin:admin_login' %}">
                        <i class="fas fa-user-shield"></i> Admin Login
                    </a>
                </button>
            </ul>
        </div>
        <header>
            <div class="slide">
                <img src="{% static 'project/images/signup.jpg' %}">
            </div>
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-8 p-4 border rounded">
                        <div class="heading mb-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Sign up form
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                            <div class="form-group mb-3">
                                <label>First Name <span class="text-danger">*</span></label>
                                <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>Last Name</label>
                                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group mb-3">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="email" name="email" class="form-control" placeholder="xyz@gmail.com" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>Password <span class="text-danger">*</span></label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>Retype Password <span class="text-danger">*</span></label>
                                <input type="password" name="retype_password" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>Address <span class="text-danger">*</span></label>
                                <input type="text" name="address" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>Pincode <span class="text-danger">*</span></label>
                                <input type="text" name="pin_code" class="form-control" pattern="[0-9]{6}" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>Mobile No <span class="text-danger">*</span></label>
                                <input type="text" name="mobile_no" class="form-control" pattern="[0-9]{10}" required>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" name="subscribe" class="form-check-input">
                                <label class="form-check-label">I am not a robot</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" name="agree" class="form-check-input" required checked>
                                <label class="form-check-label">
                                    <span class="text-danger">*</span> Agree to Terms & Conditions
                                </label>
                            </div>
                            <button class="signup-btn" type="submit">Signup</button>
                            <button type="reset" class="signup-btn">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="footer-section">
        <div class="form-row">
        <h6>ADDRESS</h6>
	    </div>
	    <div class="form-row">
	    Tours and Travels,
	    </div>
	    <div class="form-row">
	    Berna Road,Viratnagar,
	    </div>
	    <div class="form-row">
	    Himmatnagar, Gujarat.
        </div>
	</div>
	<div class="footer-section">
        <div class="form-row">
	    <h6>CONTACT US</h6>
	    </div>
	    <div class="form-row">
	    mob: +91-6355791246
	    </div>
	    <div class="form-row">
	    email: travelproject241@gmail.com
	    </div>
	</div>
	<div class="footer-section">
        <div class="form-row">
	    <h6>DETAILS</h6>
	    </div>
	    <div class="form-row">
	    Travel booking company.
	    </div>
	    <div class="form-row">
	    Many satisfied customers.
        </div>
	</div>
</footer>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>