{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Plan Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <div class="sidebar">
            <div class="profile">
                <img src="{% static 'images/house.png' %}">
                <h6>Welcome Admin</h6>               
            </div>
            <hr>
            <ul>
                <li>
                    <a href="{% url 'travel_admin:admin_dashboard' %}">
                        <span class="material-icons">home</span>
                        <span>Dashboard</span>
                    </a>    
                </li>
                <li>
                    <a href="{% url 'travel_admin:inquirydetails' %}">
                        <span class="material-icons">description</span>
                        <span>Inquiry Detail</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'travel_admin:package_type' %}">
                        <span class="material-icons">category</span>
                        <span>Package Type</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'travel_admin:role_master' %}">
                        <span class="material-icons">supervisor_account</span>
                        <span>Role Master</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'travel_admin:plan_management' %}">
                        <span class="material-icons">link</span>
                        <span>Plan Master</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'travel_admin:userdetails' %}">
                        <span class="material-icons">person</span>
                        <span>Users Detail</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'travel_admin:destination' %}">
                        <span class="material-icons">flight</span>
                        <span>Destination</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'travel_admin:admin_logout' %}">
                        <span class="material-icons">logout</span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            {% block content %}
            <h4>Plan Management</h4>
            <div class="topbar">
                <a href="?action=new" class="btn">+NEW</a>
                <a href="?action=data" class="btn">Data</a>
            </div>
            {% if action == "new" or action == "edit" %}
            <div class="card shadow-sm m-5">
                <div class="card-body">
                    <h5>Add Plan</h5>
                    <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Plan Name</label>
                        <input type="text" name="plan_name" class="form-control" value="{{plan.plan_name|default:''}}">
                    </div>
                    <div class="mb-3">
                        <label>Duration</label>
                        <input type="text"name="duration"class="form-control" value="{{plan.duration|default:''}}">
                    </div>
                    <div class="mb-3">
                        <label>Nights_Days</label>
                        <input type="text" name="nights_days" class="form-control" value="{{plan.nights_days|default:''}}">
                    </div>
                    <div class="mb-3">
                        <label>Status</label>
                        <input type="text" name="status" class="form-control" value="{{plan.status|default:''}}">
                    </div>
                   <button type="submit" class="btn btn-success">
                    {% if action == "edit" %}
                    UPDATE
                    {% else %}
                    SAVE
                    {% endif %}
                   </button>
                   <a href="{% url 'travel_admin:plan_management' %}"
                   class="btn btn-secondary">
                   CANCEL
                   </a>
                </form>
                </div>
            </div>
            {% endif %}
            {% if action == "data" %}
            <div class="card shadow-sm m-5">
                <div class="card-body">
                    <h5>Saved Plans</h5>
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Id</th>
                            <th>Plan Name</th>
                            <th>Duration</th>
                            <th>Nights_Days</th>
                            <th>Status</th>
                        </tr>
                        </thead>  
                        <tbody>
                        {% for plan in plan_list %}
                        <tr>
                            <td>{{ plan.action }}
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                           <a class="dropdown-item"
                                           href="{% url 'travel_admin:edit_plan_management' plan.id %}">
                                           <i class="material-icons">edit</i>
                                           Edit
                                           </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                            href="{% url 'travel_admin:delete_plan_management' plan.id %}"
                                            onclick="return confirm('Are you sure you want to delete this?');">
                                            <i class="material-icons">delete</i> delete
                                            </a>
                                        </li>
                                    </ul>    
                                </div>
                            </td>
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.plan_name }}</td>
                            <td>{{ plan.duration }}</td>
                            <td>{{ plan.nights_days }}</td>
                            <td>{{ plan.status }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td colspan="4" class="text-center">No roles found</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>